* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.page {
    height: 100%;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#no1 {
    background-image: linear-gradient(rgba(19, 10, 105, 0.6), rgba(19, 10, 105, 0.6)), url("img/background-image.png");
}

.menu {
    position: absolute;
    top: 40px;
    right: 20px;
    font-family: open sans;
    font-weight: bold;
    font-size: 20;
}

.menu a {
    color: white;
    font-family: Arial;
    font-size: 1.2em;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    border-radius: 9px;
}

nav a:hover {
    background-color: rgb(226, 115, 24);
    color: white;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 17%;
    text-align: center;
    color: white;
    font-family: Arial;
    z-index: 1;
}

.main .line {
    height: 7px;
    width: 40%;
    margin-left: 30%;
    border-radius: 10px;
    background-color: rgb(226, 115, 24);
}

.main-header {
    font-size: 90pt;
    font-family: roboto slab;
    font-weight: bold;
}

.sub {
    font-family: roboto slab;
    font-size: 40pt;
    font-weight: bold;
}

p {
    font-family: roboto;
    font-weight: medium;
    font-size: 22pt;
}

#hireusnow {
    background-color: rgb(226, 115, 24);
    border: 3px;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 8px 3px;
    cursor: pointer;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 36px;
}

.btn {
    border: 1px solid;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}