* {
    /*outline: 1px solid red !important;*/
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.left {
    width: 72%;
    height: 100%;
    float: left;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.right {
    width: 28%;
    height: 100%;
    float: right;
}

#left {
    background-image: linear-gradient(rgba(59, 89, 152, 0.5), rgba(59, 89, 152, 0.5)), url("img/background-image.png");
}

.menu {
    float: right;
    position: relative;
    top: 40px;
}

.menu a {
    font-family: 'Open Sans', sans-serif;
    font-size: 18;
    color: #ffffff;
    margin-right: 35px;
    margin-top: 15px;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    color: white;
    background-color: rgb(59, 89, 152, 0.726)
}

.container {
    margin-top: 30%;
    left: 20%;
    text-align: center;
    color: whitesmoke;
}

.main-header {
    font-size: 60pt;
    font-family: 'Roboto Slab', sans-sans;
}

.sub {
    font-family: 'Roboto Slab', sans-sans;
    font-size: 32pt;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-family: 'Roboto', sans-sans;
    font-weight: medium;
    font-size: 14pt;
    margin-top: 10px;
}

.btn {
    border: 1px solid;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.r-container {
    position: relative;
    margin-top: 30%;
    left: 20px;
}

.head {
    position: relative;
    top: 15%;
    color: rgb(59, 89, 152);
    font-family: Arial, Helvetica, sans-serif;
    left: 20px;
}

.head h3 {
    color: rgb(59, 89, 152);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28pt;
}

.head h4 {
    color: rgb(59, 89, 152);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}


/*input {
    color: cadetblue;
    border-color: cadetblue;
    padding: 8px 50px;
}*/

textarea,
input {
    background-color: transparent;
    border: 2px solid;
    width: 250px;
    height: 30px;
    color: rgb(150, 179, 240);
}

textarea {
    height: 60px;
}

label {
    font-size: 18pt;
    color: rgb(59, 89, 152);
    margin-top: 15px;
    display: inline-block;
}

::placeholder {
    color: rgb(59, 89, 152);
}

.join {
    border-radius: 10px;
    background-color: rgb(59, 89, 152);
    margin-top: 5%;
    width: 250px;
    color: #ffffff;
    font-size: 22px;
    margin-top: 50px;
}